NODE_ENV=development
PORT=3000
USUARIO_SERVICIO_URL=http://usuario-servicio:3001
CLIENTE_SERVICIO_URL=http://cliente-servicio:3002
INVENTARIO_SERVICIO_URL=http://inventario-servicio:3003
FACTURACION_SERVICIO_URL=http://facturacion-servicio:3004
CAJA_SERVICIO_URL=http://caja-servicio:3005
