NODE_ENV=development
PORT=3006
JWT_SECRET=cambia_este_secreto_por_un_valor_de_al_menos_32_caracteres
INVENTARIO_SERVICIO_URL=http://inventario-servicio:3003
FACTURACION_SERVICIO_URL=http://facturacion-servicio:3004
CAJA_SERVICIO_URL=http://caja-servicio:3005
USUARIO_SERVICIO_URL=http://usuario-servicio:3001
CLIENTE_SERVICIO_URL=http://cliente-servicio:3002
